@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: #ccc;
    background-image: radial-gradient(circle at center, #777 1px, transparent 0);
    background-size: 40px 40px; 
    min-height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.white-bg {
    background-color: #ddd;
    border: solid #111 1px;
}