.home-container {
    margin: 50px;
}

.fancy-title {
    font-size: large;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.fancy-title > img {
    height: 5em;
    max-width: 100%;
}

.article-list {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .home-container {
    margin: 14px;
  }
}