.fancy-title {
    font-size: large;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50px;
    padding: 20px;
}

.fancy-title > img {
    height: auto;
    max-width: 100%;
}

.article-list {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    list-style-type: none;
}
