.home-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 80px;
    width: 80px;
    padding: 0;
}

.home-icon > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .home-icon {
        bottom: 20px;
        right: 20px;
        top: auto;
        left: auto;
    }
}