.post-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-card {
    display: block;
    padding: 10px;
    width: 300px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.post-card a, .post-card i, .post-card p {
    color: var(--primary-text-color);
}
