.content {
    margin-left: 20%;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    min-height: 100vh;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
  .content {
    margin: 20px;
    margin-bottom: 120px;
  }
}