.content {
    margin-left: 20%;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    min-height: 100vh;
    padding: 20px;
}

.content img {
  max-width: 100%;
  border: 1px solid var(--border-color);
}

.content table {
  min-width: 100%;
  overflow-x: scroll; 
}

.content table, .content th, .content td {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .content {
    margin: 20px;
    margin-bottom: 120px;
  }
}