<!DOCTYPE html>
<html lang="en">
<head>
    {% seo %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/home-icon.css">
    <link rel="stylesheet" href="/assets/css/monokai.sublime.css">
    <link rel="shortcut icon" size="16x16" href="/assets/images/logo-16.png" type="image/png">
    <link rel="shortcut icon" size="32x32" href="/assets/images/logo-32.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{ site.baseurl }}/feed.xml" title="{{ site.title }}" />
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    {% include home-icon.html %}
    <main class="content alt-backing">
            <h1>{{ page.title }}</h1>
            <div class="info">
        <span class="icon">&#xf415</span>
        {% if page.authors %}
            {% assign author_names = "" | split: "" %}

            {% for author_id in page.authors %}
              {% assign author_data = site.data.authors[author_id] %}
                {% assign author_names = author_names | push: author_data.name %}
            {% endfor %}

            {{ author_names | join: ", " }}
        {% elsif page.author %}
            {{ site.data.authors[page.author].name }}
        {% endif %}
        <br />
        <span class="icon">&#xf00ed</span> {{ page.pretty-date }}
        </div>
            {{ content }}
            <hr />
            {% if page.authors %}
                <h2>Authors</h2>
                <ul>
                {% for author_id in page.authors %}
                    {% assign author_data = site.data.authors[author_id] %}
                    <li>{{ author_data.name }} - {{ author_data.bio }}</li>
                {% endfor %}
                </ul>
            {% elsif page.author %}
                <h1>Author</h1>
                {{ site.data.authors[page.author].name }} - {{ site.data.authors[page.author].bio }}
            {% endif %}
    </main>
    <script>
        MathJax = {
            tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
</body>
</html>